# openapi.yaml
openapi: 3.0.3
info:
  title: TimeLink API
  version: 1.0.0
  description: TL STUDIO 플랫폼 API

servers:
  - url: https://api.timelink.com/v1
    description: Production server

paths:
  /upload:
    post:
      summary: 파일 업로드 및 TLF 변환
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequest'
      responses:
        '200':
          description: 업로드 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'

  /files/{id}:
    get:
      summary: 파일 메타데이터 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 파일 정보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'

  /play/start:
    post:
      summary: 재생 세션 시작
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_id:
                  type: string
                session_id:
                  type: string
      responses:
        '200':
          description: 세션 시작 성공

components:
  schemas:
    UploadRequest:
      type: object
      required:
        - file_name
        - file_size
        - charge_policy
      properties:
        file_name:
          type: string
        file_size:
          type: integer
        charge_policy:
          $ref: '#/components/schemas/ChargePolicy'
        metadata:
          type: object
